.cards-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 15vh);
  column-gap: 1.25rem;
  row-gap: 0.25rem;
}

.game-card {
  height: clamp(110px, 14vh, 15vh);
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 0.5s ease;
}
.game-card.game-in-session {
  /* box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); */
  transition: all 0.3s ease-in-out;
}
.game-card.game-in-session:hover {
  transform: scale(110%);
  /* box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); */
}
.show {
  opacity: 1;
  transform: translate(0, 0);
}
.selected {
}
.card-content {
  font-size: clamp(1px, 1.3rem, 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
}
.another-class {
  height: 20px;
  background-color: aqua;
}
.text-container {
  font-size: 2.125rem;
  height: fit-content;
  width: 100%;
}

.game-card:hover .replace-btn {
  opacity: 1;
  transition: opacity var(--fade-time) ease-in-out;
}

.replace-btn {
  opacity: 0;
  transition: opacity var(--fade-time) ease-in-out;
}

.game-card:not(:hover) .replace-btn {
  opacity: 0;
  transition: opacity var(--fade-time) ease-in-out;
}

.ltr {
  direction: ltr;
  font-size: 1.25rem;
}
.rtl {
  direction: rtl;
  font-size: 1.25rem;
}
